@use "../../vars";
@use "../../mixin";

.root {
    @include mixin.mainpart;

    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: vars.$shadow;
    min-height: 297mm;

    @media print {
        border: none;
        box-shadow: none;
        height: 297mm;
    }
}

.body {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    padding: 1.25rem 2rem;
    flex: 1;

    @media screen and (max-width: vars.$width) {
        flex-direction: column;
        gap: vars.$header-margin-top;
    }
}

.left {
    flex: 100;
}

.right {
    flex: 225;
}

.footer {
    border-top: 1px black solid;
    padding: 1.25rem 2rem;
}
