@use "../../../vars";

.header {
    display: flex;
    place-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin: vars.$header-margin-top 0 0.25rem 0;

    &::after {
        content: '';
        flex: 1;
        display: inline-block;
        height: 1px;
        background: linear-gradient(90deg, #777F 0%, #FFF0 100%);
    }
}

.header:first-child {
    margin-top: 0;
}

