@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;600;800&display=swap');

$prime: hsl(142, 80%, 25%);

:root {
    --prime: #{$prime};
    --prime-dark: hsl(142, 80%, 10%);
    --prime-transparent: hsla(142, 80%, 20%, 0.1);
    --danger: hsl(360, 60%, 70%);
    --danger-dark: hsl(360, 60%, 50%);
    --nav-height: 3.5rem;
}

html {
    font-size: 12px;
    background-color: #DDD;
    font-family: "Noto Serif SC", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif, "宋体";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1rem;
}

p {
    margin: 0;
}

ul {
    list-style-position: inside;

    li:not(:last-child) {
        margin-bottom: 0.25rem;
    }
}

a {
    color: var(--prime);
    text-decoration: none;
    transition: color .3s;

    svg {
        width: 1rem;
        height: 1rem;
    }

    &:hover {
        color: var(--prime-dark);
    }
}

* {
    box-sizing: border-box;
    line-break: loose;
}
